<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Home page</title>
</head>
<body>


<br><br><br>
<div align="center" th:with="condition=${@userContextHolder.getUserLoggedIn()}">
    <h1 th:if="${condition != null}" th:text="${'Witaj użytkowniku: ' + @userContextHolder.getUserLoggedIn()}"></h1>
    <a th:if="${condition != null}" type="button" class="btn btn-primary btn-lg" th:href="@{/event}">Create event</a>
    <a th:if="${condition != null}" type="button" class="btn btn-primary btn-lg" th:href="@{/logout}">Wyloguj</a>
    <a th:if="${condition == null}" type="button" class="btn btn-primary btn-lg"
       th:href="@{/registerForm}">Zarejestruj</a>
    <a th:if="${condition == null}" type="button" class="btn btn-primary btn-lg" th:href="@{/login}">Zaloguj</a>
</div>
<br><br><br>
<div align="center">
    <table border="1px">
        <tr>
            <th>ID</th>
            <th>TITLE</th>
            <th>DESCRIPTION</th>
            <th>DATE</th>
            <th>CREATE BY</th>
        </tr>
        <tr th:each="event :${eventsList}">
            <th th:text="${event.getId()}"></th>
            <th th:text="${event.getTitle()}"></th>
            <th th:text="${event.getDescription()}"></th>
            <th th:text="${event.getDate()}"></th>
            <th th:text="${event.getUser().getDisplayName()}"></th>
        </tr>
    </table>
</div>
</body>
</html>